<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

   <!-- Favicons -->
   <link href="/assets/img/favicon.png" rel="icon">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 
   <!-- Main CSS File -->
   <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

</head>

<body>

  <div id='header'></div>

  <script type="text/javascript">
    $(document).ready(function () {
        $("#header").load("/header.html", function () {
        });
    })       
  </script>

  <main id="main" style="height: 100%">
    <p align='middle'>
      <iframe id="inlineFrameExample"
        title="Inline Frame Example"
        width="700em"
        height="600em"
        style = "margin-top: 85px;"
        src="http://203.251.137.136/tabs/tab1">
      </iframe>
    </p>
    
  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>