<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

 <!-- Favicons -->
 <link href="/assets/img/favicon.png" rel="icon">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>


 <!-- Main CSS File -->
 <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

</head>

<body>

  <div id='header'></div>

  <script type="text/javascript">
    $(document).ready(function () {
        $("#header").load("/header.html", function () {
        });
    })       
  </script>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>AR 실내 내비게이션 App Download</h2>
        <p>아이폰 &#47; 안드로이드</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/downloadapp.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>아이폰 &#47; 안드로이드 App Download</h3>
              <li>앱을 통해 AR실내 내비게이션을 가장 빠르게 만나보세요!</li>
              <ul class="down">             
               <li><a href=#><img src="assets/img/App_Download3.png" class="img-fluid" alt=""></a></li>
             <li><a href=#><img src="assets/img/Google_Download3.png" class="img-fluid" alt=""></a></li>
            </ul>
            <p>
<!--              고객 여러분들의 많인 이용 부탁드립니다.-->
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


   
  </main><!-- End #main -->

  

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>