<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

</head>

<body>

  <div id='header'></div>

  <script type="text/javascript">
    $(document).ready(function () {
        $("#header").load("/header.html", function () {
        });
    })       
  </script>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>AR 실내 내비게이션 서비스 개요</h2>
        <p>서비스의 요약 </p>
      </div>
    </div><!-- End Breadcrumbs -->
    
    <!-- ======= Summary Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row" style="justify-content: center;">
          <div class="col-lg-10">
            <img src="assets/img/service01.jpg" class="img-fluid" alt="">
            <h3>스마트폰 하나로 이용 가능한 &#147;AR실내 내비게이션 서비스&#148;</h3>
            <p>이제 대형쇼핑몰, 공항처럼 넓고 복잡한 실내에서도 스마트폰 하나로 쉽게 길을 찾을 수 있게 된다.<br> 
            AR실내 내비게이션은 내비게이션이 증강현실(AR) 기술과 만나, AR 신호가 가야 할 방향을 알려주는 서비스로 
            고가의 센서 장비를 이용하지 않고 스마트폰&#47;태블릿PC 등 실내 공간맵 구축 및 실내 길안내(내비게이션) 앱의 기초 기능을 구현한다. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Summary Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">3D 공간맵 구축</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">지도 데이터 맵핑</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">AR약도 생성 기능</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">증강현실 길안내</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active " id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>딥러닝으로 이미지에서 3D 공간맵 구축</h3>
                    <p class="font-italic">고가의 복잡한 실내계측장비 대신 모바일 기기를 이용한 저렴한 비용으로 생성</p>
                    <p>스마트 모바일 기기에서 획득한 이미지/영상 데이터를 딥러닝 처리를 거쳐 3D 공간 맵으로 구축하는 기능 모듈 개발</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-01.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2" >
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>장소 Data와 결합된 AR 실내 약도 생성</h3>
                    <p class="font-italic"></p>
                    <p>구축된 3D 공간 맵에 지도 데이터를 맵핑하는 기능 모듈 개발</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-02.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>AR 실내 약도 서비스 이용</h3>
                    <p class="font-italic">출발점과 도착점의 경로를 생성, 저장 구현</p>
                    <p>3D 공간 맵을 기반으로 실내 길안내가 가능한 AR 약도생성 기능 모듈 개발</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-03.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>증강현실 길 안내</h3>
                    <p class="font-italic"></p>
                    <p>AR 약도를 기반으로 실내에서 증강현실 길 안내를 하는 기능 모듈 개발
</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-04.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>