<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

   <!-- Favicons -->
   <link href="/assets/img/favicon.png" rel="icon">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 
   <!-- Main CSS File -->
   <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

</head>

<body>

  <div id='header'></div>

  <script type="text/javascript">
    $(document).ready(function () {
        $("#header").load("/header.html", function () {
        });
    })       
  </script>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>종이증명서 O2O 검증</h2>
    </div>
  </div><!-- End Breadcrumbs -->
  
  <section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title">
        <h2>concept</h2>
        <p>개념 이해하기</p>
      </div>

      <div class="row" style="margin-bottom: 100px;">
        <div class="col-lg-7 pt-4 pt-lg-0  content">
          <h3>-> 종이증명서를 O2O(Online to Offline) 검증을 통해 전자 문서화 하고자 함.</h3>
        </div>
      </div>

      <div class="row" style="margin-top: 40px;margin-bottom: 60px;">
        <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>1. NFT 기술의 장점</h3>
          <p class="font-italic">NFT 기술방식을 적용하여 이미지 검증에 활용함</p>
          <ul style="margin-top: 30px; font-size: 1.2em;">
            <li><i class="icofont-check-circled"></i> NFT는 블록체인으로써 출처, 발행시간 및 획수, 소유자 내역 등의 추적이 쉬움</li>
            <li><i class="icofont-check-circled"></i> NFT는 위조가 어려워 희소성을 더 잘 보장할 수 있다.</li>
          </ul>
        </div>
      </div>
      
      
      <div class="row" style="padding-top:30px; ">
        <div class="col-lg-7 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/그림2.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 content" style="width:100px;">
            <h3>2. 블록체인의 특성</h3>
          <p class="font-italic"></p>
          <ul style="margin-top: 30px; font-size: 1.2em;">
            <li><i class="icofont-check-circled"></i> 블록체인의 특징인 무결성과불가역성으로 문서의 고유식별값을 블록체인에 저장</li>
            <li><i class="icofont-check-circled"></i> 문서의 존재 여부, 진위 여부, 원본 여부 등의 확인 가능</li>
          </ul>
          <p></p>
        </div>
      </div>
      
      
        <div class="row" style="padding-top:30px;">
       
        <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>3. 응용서비스 및 기대효과</h3>
          <p class="font-italic"></p>
          <ul style="margin-top: 30px; font-size: 1.2em;">
            <li><i class="icofont-check-circled"></i> 종이증명서는 스마트폰이 없는 모든 연령대가 사용가능</li>
            <li><i class="icofont-check-circled"></i> 종이증명서 일차적인 증명 수단 (스마트폰 보완적)</li>
            <li><i class="icofont-check-circled"></i> 해외여행, 국내여행시 종이증명서 활용 필요</li>
            <li><i class="icofont-check-circled"></i> KeyPoint가 저장되면 각 경로 생성 버튼을 클릭하여 경로 생성 화면으로 전환합니다.</li>
            <li><i class="icofont-check-circled"></i> 백신여권 미채택 국가에 종이증명서로 증빙 효과</li>
            <li><i class="icofont-check-circled"></i> 아프리카, 아시아 국가들 중에서 종이증명서 만 채택하는 국가와의 연동성</li>
            <li><i class="icofont-check-circled"></i> KeyPoint가 저장되면 각 경로 생성 버튼을 클릭하여 경로 생성 화면으로 전환합니다.</li>
            <li><i class="icofont-check-circled"></i> 종이증명서 - 관계기관 발급 증명서류(백신접종증명서)</li>
            <li><i class="icofont-check-circled"></i> 백신여권 - 서버 기반 백신접종 신원증명 방식</li>
          </ul>
          <p></p>
        </div>
      </div>
      <div class="row" style="padding-top:100px;">
        <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content" >
          <h3>4. 매커니즘</h3>
          
        </div>
    </div>

    <section id="course-details" class="course-details">
      
      <div class="container" data-aos="fade-up" style="margin-bottom: 70px;">
        <div class="row" style="justify-content: center;">
          <div class="col-lg-9">
            <h3>NFT 기반 O2O 종이증명서 검증 기술 - 개요</h3>
            <p style="font-size: 1.2em; line-height: 1.8em; margin-bottom: 30px;">O2O를 통해 시험성적서 및 인정서의 데이터를 등록한 다음, 원본을 메타데이터 디지털 전처리하고,<br>
              진본성을 확인한 메타데이터를 블록체인의 Payload에 적재하여 블록체인에 등록<br>
              등록한 블록체인을 호출할 경우, 호출한 블록체인의 Payload 데이터를 가져와 진본성 데이터를 확인 
            </p>
            <img src="assets/img/1.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up" style="margin-bottom: 70px;">
        <div class="row" style="justify-content: center;">
          <div class="col-lg-9">
            <h3>NFT 기반 O2O 종이증명서 검증 기술 - 등록과정</h3>
            <img src="assets/img/2.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up" style="margin-bottom: 70px;">
        <div class="row" style="justify-content: center;">
          <div class="col-lg-9">
            <h3>NFT 기반 O2O 종이증명서 검증 기술 - 등록과정</h3>
            <img src="assets/img/3.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up" style="margin-bottom: 70px;">
        <div class="row" style="justify-content: center;">
          <div class="col-lg-9">
            <h3>NFT 기반 O2O 종이증명서 검증 기술 - 검증과정(사용자 등록)</h3>
            <img src="assets/img/4.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="container" data-aos="fade-up" style="margin-bottom: 70px;">
        <div class="row" style="justify-content: center;">
          <div class="col-lg-9">
            <h3>NFT 기반 O2O 종이증명서 검증 기술 - 검증과정(검증)</h3>
            <img src="assets/img/5.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      
    </section>

</main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>