<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3><a href="index.html" class="logo mr-auto"><img src="/assets/img/foot_logo.png" alt="" class="img-fluid"></a></h3>
            <p>
              서울특별시 성북구 안암로 145 고려대학교 산학관<br><br>
              <strong>Phone:</strong> 02 3291 2200<br>
              <strong>Fax:</strong> 070 4275 5321<br>
              <strong>Email:</strong> info@kounosoft.com<br>
            </p>
          </div>

          <div class="col-lg-6 col-md-6 footer-links">
            <!--<h4>Useful Links</h4>-->
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">홈</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="down.html">다운로드</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  href="/restAPI.html">REST API</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/demo.html">API 데모</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="board.html">게시판</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
   
  </footer><!-- End Footer -->
