<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <!--<h1 class="logo mr-auto"><a href="index.html">AR </a></h1>-->
        <a href="index.html" class="logo mr-auto" style = "margin-bottom: 1px;"><img src="/assets/img/ar_logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block" style = "position: absolute; margin-top:3px; margin-left: 230px;">
        <ul>
            <li><a href="index.html">홈</a></li>
            <li><a href="down.html">다운로드</a></li>
            <li><a href="summary.html">서비스개요</a></li>
            <li><a href="manual.html">매뉴얼</a></li>
            <li><a href="board.html">게시판</a></li>
            <li><a href="tokenSample.html">토큰샘플</a></li>
            <li id = "login-btn" style ="position: absolute; margin-left: 750px; margin-top: 3px; padding: 6px 10px; border: solid 1px; text-align: center; height: 34px;"><a href= "login.html">로그인</a></li>
            <li><div style = "position: absolute;  margin-left:160px; margin-top:1px; font-size: 12px;" id="result"></div></li>
            <li id = "logout-btn" style ="position: absolute; margin-top: 3px; margin-left: 750px; display: none;   padding: 6px 10px; border: solid 1px; text-align: center; height: 34px;"  onclick="logout()"><a href="index.html">로그아웃</a></li>
        
        </ul>
        </nav>
    </div>
</header>

<script type="text/javascript">
    function logout() {
        if(localStorage.getItem('name') != null)
        {
        window.location.href = 'http://localhost:4000/'
        localStorage.removeItem('name');
        localStorage.removeItem('email');
        localStorage.removeItem('token');
        $('#result').empty();
        name = "";
        $('#logout-btn').style.display = "";
        }
        else
        {
        alert('로그인하세요');
        }
    }

    if(localStorage.getItem('name')!=null)
    {
      $('#login-btn').hide();
      $('#logout-btn').show();
      resultdiv = localStorage.getItem('name')+' 님 안녕하세요.';  
      $('#result').append(resultdiv);
    }

    //네이버 로그인
    $(document).on("click", "#naverLogin",function(){
      var btnNaverLogin = document.getElementById("naverIdLogin_loginButton").firstChild;
      btnNaverLogin.click();
    });  

    var naverLogin = new naver.LoginWithNaverId(
            {
              clientId: "G06lxo0zNnzBKUmigW2z", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
              callbackUrl: "http://localhost:4000", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
              isPopup: false,
              callbackHandle: true
            }
          );	
        
        naverLogin.init();
        
        window.addEventListener('load', function () {
          if(localStorage.getItem("prevent_login")!=null)
        {
          if(localStorage.getItem("prevent_login")!='1'){
            naverLogin.getLoginStatus(function (status) {
              if (status) {
                console.log('hi');
                $('#result').empty();
                $('#result').append(naverLogin.user);
              
                $('#login-btn').hide();
                $('#result').append(naverLogin.user);
                
                name = naverLogin.user.getName();
                email = naverLogin.user.getEmail();
                  
                resultdiv = name+' 님 안녕하세요.'  
              
                localStorage.setItem('name', name);
                localStorage.setItem('email', email);
                
                localStorage.setItem("prevent_login", 1);
                $.ajax({
                  url:"/easylogin",
                  type: "post",
                  data: {name: name, email: email},
                  datatype: 'json',
                  success: function(result){
                    localStorage.setItem('token', result.token);
                    localStorage.setItem('name', result.name);
                    localStorage.setItem('email', result.email);
                    window.location.href = "index.html";
                  }
                })

                console.log(naverLogin.user); 
                  
                      if( email == undefined || email == null) {
                  alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
                  naverLogin.reprompt();
                  return;
                }
              } else {
                console.log("callback 처리에 실패하였습니다.");
              }
            });
          }
        }
      });
</script>