<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

  <!-- Kakao Login -->
  <script src = "https://developers.kakao.com/sdk/js/kakao.min.js"></script>

  <!-- Google Login -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name ="google-signin-client_id" content="46237981396-80g7m49b12mt0ef3cdlu7h0upireelj7.apps.googleusercontent.com">
 
  <!-- Facebook Login -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=796273041128746" nonce="SiOBIhLG"></script>

  <!-- Naver Login -->
  <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo mr-auto"><a href="index.html">AR </a></h1>-->
       <a href="index.html" class="logo mr-auto"><img src="/assets/img/ar_logo.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">홈</a></li>
          <li><a href="down.html">다운로드</a></li>
          <li><a href="summary.html">서비스개요</a></li>
          <li><a href="manual.html">매뉴얼</a></li>
          <li><a href="board.html">게시판</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->

  <main id="main">
    <form method="post" id="login-form" style="margin-top:150px;margin-bottom:20px; ">
      <ul style="list-style-type:none; ">
        <li style="text-align: center; margin-bottom: 10px;">
          <input name="email" id="email" type = "text" style = "width:300px; height:40px; font-size: 1.2em; " placeholder="이메일">
        </li>
        <li style="text-align: center; margin-bottom: 10px;">  
          <input name="password" id="password" type = "password" style = "width:300px; height:40px; font-size: 1.2em;" placeholder="비밀번호">
        </li>
        <li style="text-align: center; margin-bottom: 10px;">  
          <input type="button",  value="로그인" onclick="forLocalStorage()" style=" font-size: 13px; width:300px; height:40px; font-size: 1.2em;">
        </li>
      </ul>
    </form>
    <ul style="list-style-type:none;margin-bottom:50px; ">
      <li style="text-align: center; margin-bottom: 10px;">
        <p>아직 회원이 아니신가요?</p>  
        <a href="/join.html">회원가입</a>
      </li>
    </ul>
    <hr>
   
    <div style = " margin-left: 35%; margin-top: 30px; margin-bottom: 100px; width: 500px; height: 300px">
        <li style ="list-style:none;"> <a id="kakao-login-btn" style = "display: none;"></a></li>
        <a href="#" style = "margin-left: 80px; margin-top:15px;" id = "kakaoLogin" class = "btn sns-kakao"><img src= "/assets/img/btn/kakao.png"></a>
        <li style ="list-style:none;"><div id = "google-login-btn" style = "display: none;" class="g-signin2" data-onsuccess="onSignIn" onclick= "prohibit_prevent()"></div></li>
        <a href="#" style = "margin-left: 80px;" id = "googleLogin" class = "btn sns-google"><img src= "/assets/img/btn/google.png"></a>
        <li style ="list-style:none;" onclick="fnFbCustomLogin();" id = "facebook-login-btn"><a href="javascript:void(0)" style = "display: none;"><span>Login with Facebook</span></a></li>
        <a href="#" style = "margin-left: 80px;"id = "facebookLogin" class = "btn sns-facebook"><img src= "/assets/img/btn/facebook.png"></a>
        <li style ="list-style:none;"><a id="naverIdLogin_loginButton" href="javascript:void(0)" onclick= "prohibit_prevent()" style = "display: none;" ><span>네이버 로그인</span></a></li>
        <a href="#" style = "margin-left: 80px;"id = "naverLogin" class = "btn sns-naver"><img src= "/assets/img/btn/naver.png"></a>
    </div>
  </main><!-- End #main -->

   <!-- 자체 로그인 -->

  <script type="text/javascript">

    function forLocalStorage(){
      var is_empty = false;
      $('#login-form').find('input').each(function(){
          if(!$(this).val()) {
              is_empty = true;
          }
      });
      
      if(is_empty) {
          alert('이메일,패스워드를 입력하세오');
      }
      else{
        $(document).ready(function(){
            $.ajax({
              url: "/login.html",
              type: "post",
              data: {email: document.getElementById('email').value,
                     password: document.getElementById('password').value
                     },
              datatype: "json",
              success: function(result){
                if(result.token=='wrongpassword'){
                  alert("비밀번호가 틀렸습니다")
                  window.location.href = '/login.html';
                }
                else if (result.token=="wrongemail"){
                  alert("가입되지 않은 email입니다")
                  window.location.href = '/login.html';
                }
                else{
                  localStorage.setItem('token', result.token);
                  localStorage.setItem('name', result.name);
                  localStorage.setItem('email', result.email);
                  window.location.href = '/index.html';
                }

              }
            })
        })       
      }
    }

  </script>

<!-- 구글 로그인 -->
<script type = "text/javascript">
    $(document).on("click", "#googleLogin",function(){
      var btnGoogleLogin = document.getElementById("google-login-btn").firstChild;
      btnGoogleLogin.click();
    });  

    function prohibit_prevent() {
      localStorage.setItem("prevent_login", 0);
      window.location.href = "index.html";
    }
  </script>  

<!-- 카카오 api 연결 해제 -->
<!-- 
  <script type="text/javascript">
    function unlinkApp() {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function(res) {
          alert('success: ' + JSON.stringify(res))
        },
        fail: function(err) {
          alert('fail: ' + JSON.stringify(err))
        },
      })
    }
  </script> -->

  <!-- 카카오 로그인 -->

  <script type = "text/javascript">
    $(document).on("click", "#kakaoLogin",function(){
      var btnKakaoLogin = document.getElementById("kakao-login-btn").firstChild;
      btnKakaoLogin.click();
    });  
  </script>

  <script type="text/javascript">
    
    Kakao.init('d6b9ec53fda0812052da6ab0de28c815');
    console.log(Kakao.isInitialized());
   
    Kakao.Auth.createLoginButton({
      container: '#kakao-login-btn',
      
      success: function(authObj) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function(result) {
            $('#result').empty();
            $('#result').append(result);
            id = result.id
            
            $('#kakaoLogin').hide();
            $('#googleLogin').hide();
            $('#facebookLogin').hide();
            $('#naverLogin').hide();
            connected_at = result.connected_at
            kakao_account = result.properties
            $('#result').append(kakao_account);
            
            if(typeof kakao_account != 'undefined'){
              name = kakao_account.nickname;
              email =result.kakao_account.email;
            }
            
            resultdiv = name+'<h4> 님 안녕하세요.'  
           
            localStorage.setItem('name', name);
            localStorage.setItem('email', email);
            $.ajax({
              url:"/easylogin",
              type: "post",
              data: {name: name, email: email},
              datatype: 'json',
              success: function(result){
                localStorage.setItem('token', result.token);
                localStorage.setItem('name', result.name);
                localStorage.setItem('email', result.email);
                window.location.href = "index.html";
              }
            })
          },
          fail: function(error) {
            alert(
              'login success, but failed to request user information: ' +
                JSON.stringify(error)
            )
          },
        })
        
      },
      fail: function(err) {
        alert('failed to login: ' + JSON.stringify(err))
      },
    })
    
  </script>

  <!-- 페이스북 로그인 -->

  <script type = "text/javascript">
    $(document).on("click", "#facebookLogin",function(){
      var btnFacebookLogin = document.getElementById("facebook-login-btn").firstChild;
      btnFacebookLogin.click();
    });  
  </script>

  <script type = "text/javascript">

    //기존 로그인 상태를 가져오기 위해 Facebook에 대한 호출
    function statusChangeCallback(res){
      statusChangeCallback(response);
    }
    
    function fnFbCustomLogin(){
      FB.login(function(response) {
        if (response.status === 'connected') {
          FB.api('/me', 'get', {fields: 'name,email'}, function(r) {
            console.log(r);
          })
        } else if (response.status === 'not_authorized') {
          // 사람은 Facebook에 로그인했지만 앱에는 로그인하지 않았습니다.
          alert('앱에 로그인해야 이용가능한 기능입니다.');
        } else {
          // 그 사람은 Facebook에 로그인하지 않았으므로이 앱에 로그인했는지 여부는 확실하지 않습니다.
          alert('페이스북에 로그인해야 이용가능한 기능입니다.');
        }
      }, {scope: 'public_profile,email'});
    }
    
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1588150011384568', // 내 앱 ID를 입력한다.
        cookie     : true,
        xfbml      : true,
        version    : 'v10.0'
      });
      FB.AppEvents.logPageView();   
    };
  </script>


  <!-- 네이버 로그인 -->

  <script type = "text/javascript">
    $(document).on("click", "#naverLogin",function(){
      var btnNaverLogin = document.getElementById("naverIdLogin_loginButton").firstChild;
      btnNaverLogin.click();
    });  
  </script>

  <script>
        var naverLogin = new naver.LoginWithNaverId(
            {
              clientId: "G06lxo0zNnzBKUmigW2z", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
              callbackUrl: "http://localhost:4000", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
              isPopup: false,
              callbackHandle: true
            }
          );	
        
        naverLogin.init();
        
        window.addEventListener('load', function () {
          if(localStorage.getItem("prevent_login")!=null)
        {
          if(localStorage.getItem("prevent_login")!='1'){
            naverLogin.getLoginStatus(function (status) {
              if (status) {
                console.log('hi');
                $('#result').empty();
                $('#result').append(naverLogin.user);
              
                $('#kakaoLogin').hide();
                $('#googleLogin').hide();
                $('#facebookLogin').hide();
                $('#naverLogin').hide();
                $('#result').append(naverLogin.user);
                
                name = naverLogin.user.getName();
                email = naverLogin.user.getEmail();
                  
                resultdiv = name+'<h4> 님 안녕하세요.'  
              
                localStorage.setItem('name', name);
                localStorage.setItem('email', email);
                
                localStorage.setItem("prevent_login", 1);
                $.ajax({
                  url:"/easylogin",
                  type: "post",
                  data: {name: name, email: email},
                  datatype: 'json',
                  success: function(result){
                    localStorage.setItem('token', result.token);
                    localStorage.setItem('name', result.name);
                    localStorage.setItem('email', result.email);
                    window.location.href = "index.html";
                  }
                })

                console.log(naverLogin.user); 
                  
                      if( email == undefined || email == null) {
                  alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
                  naverLogin.reprompt();
                  return;
                }
              } else {
                console.log("callback 처리에 실패하였습니다.");
              }
            });
          }
        }
      });
      
    </script>

<div id='footer'></div>

<script type="text/javascript">
  $(document).ready(function () {
      $("#footer").load("/footer.html", function () {
      });
  })       
</script>

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>