<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AR 실내내비게이션서비스</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

   <!-- Favicons -->
   <link href="/assets/img/favicon.png" rel="icon">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 
   <!-- Main CSS File -->
   <link rel="stylesheet" type="text/css" href="/assets/js/css/styles.css">..

</head>

<body>

  <div id='header'></div>

  <script type="text/javascript">
    $(document).ready(function () {
        $("#header").load("/header.html", function () {
        });
    })       
  </script>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>AR 실내 내비게이션 매뉴얼</h2>
        <p>누구나 사용할 수 있도록 매뉴얼을 통해 손쉽게 따라해보세요</p>
      </div>
    </div><!-- End Breadcrumbs -->
    
    <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>manual</h2>
          <p>사용자 매뉴얼</p>
        </div>

        <div class="row">
          <div class="col-lg-5 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/menu_001.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>1. 빌딩생성</h3>
            <p class="font-italic">제일 먼저 지도 생성 버튼을 통해 빌딩을 생성합니다.</p>
            <ul>
              <li><i class="icofont-check-circled"></i> 앱을 실행하면 메인 화면이 출력됩니다.</li>
              <li><i class="icofont-check-circled"></i> 입력란에 건물의 이름을 입력한 뒤, 빌딩생성 버튼을 클릭합니다.</li>
              <li><i class="icofont-check-circled"></i> 카메라로 주위 환경을 촬영을 하고, 촬영이 끝나면 저장 버튼을 눌러서 저장합니다.</li>
            </ul>
            <p></p>
            
          </div>
        </div>
        
        
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-5 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/menu_002.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>2. KeyPoint 생성</h3>
            <p class="font-italic"></p>
            <ul>
              <li><i class="icofont-check-circled"></i> 빌딩 생성에 성공하면 KeyPoint 버튼을 클릭하여, 키포인트 생성 화면으로 전환합니다.</li>
              <li><i class="icofont-check-circled"></i> 전환이 끝난 후, 희소 공간의 입력 문구가 나오면 현재 사용할 공간에서 대기하면 됩니다.</li>
              <li><i class="icofont-check-circled"></i> KeyPoint를 생성하기 위해서는 생성용 QR코드를 배치합니다.</li>
              <li><i class="icofont-check-circled"></i> QR코드에 일정 거리를 접근하면 AR로 큐브 모양이 출력되는데, 이를 클릭합니다.</li>
              <li><i class="icofont-check-circled"></i> 큐브를 클릭하면 해당 큐브의 위치 값이 표시됩니다. 해당 KeyPoint 이름을 입력합니다.</li>
              <li><i class="icofont-check-circled"></i> 목적지의 이름을 입력하면 추가 버튼을 눌러 해당 객체를 추가합니다.</li>
              <li><i class="icofont-check-circled"></i> 객체가 추가되면 저장 버튼을 클릭하여 객체를 저장합니다.</li>
              <li><i class="icofont-check-circled"></i> 저장이 완료되면 다른 KeyPoint 위치로 이동하여 위의 과정을 똑같이 합니다.</li>
            </ul>
            <p></p>
          </div>
        </div>
        
        
          <div class="row" style="padding-top:30px;">
          <div class="col-lg-5 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/menu_003.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>3. 경로 생성</h3>
            <p class="font-italic"></p>
            <ul>
              <li><i class="icofont-check-circled"></i> KeyPoint가 저장되면 각 경로 생성 버튼을 클릭하여 경로 생성 화면으로 전환합니다.</li>
              <li><i class="icofont-check-circled"></i> 경로에서 연결할 목적지를 설정합니다.</li>
              <li><i class="icofont-check-circled"></i> 설정이 완료되면 해당 설정을 추가, 저장순으로 저장합니다.</li>
            </ul>
            <p></p>
          </div>
        </div>
        
         <div class="row" style="padding-top:30px;">
          <div class="col-lg-5 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/menu_004.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>4. 내비게이션</h3>
            <p class="font-italic"></p>
            <ul>
              <li><i class="icofont-check-circled"></i> 경로 설정이 끝나면 내비게이션 버튼을 통해 내비게이션 화면으로 전환합니다. 이때 내비게이션 화면이 인식 할 수 있도록 시작 위치를 촬영합니다.</li>
              <li><i class="icofont-check-circled"></i> 내비게이션 화면에서 리스트가 나타나면 자신이 가야하는 목적지를 클릭하면 Path가 생성됩니다.</li>
            </ul>
            <p></p>
          </div>
        </div>
        

      </div>
    </section>
    


  </main><!-- End #main -->



  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/js/jqeury_bundle.js"></script>
  <script src="/assets/js/bootstrap_bundle.js"></script>
  <script src="/assets/js/counterup_bundle.js"></script>
  <script src="/assets/js/carousel_bundle.js"></script>
  <script src="/assets/js/aos_bundle.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main_bundle.js"></script>

</body>

</html>